.jumbotron {

    background-image:;
    background-color: linen;
    font-style: italic;

}

body {
  background: lightblue;
}

.row1 {
  background: linen;
  padding: 25px;
  margin-bottom: 25px;
}

.row2 {
  background: linen;
  padding: 25px;
  margin-top: 25px;
}

.row3 {
  background: linen;
  padding: 25px;
  margin-top: 25px;
}

.row4 {
  background: linen;
  padding: 25px;
  margin-top: 25px;
}
