.jumbotron {

    background-image: url(./image/skyline.jpg);
    background-color: linen;
    font-style: italic;

}

body {
  background: lightblue;

}

.row1 {
  background: linen;
  padding: 25px;
  margin-bottom: 25px;
  border-width: 35px;
  border-color: brown;

}

.row2 {
  background: linen;
  /*padding: 25px;
  margin-top: 25px;*/
}

.row3 {
  background: linen;
  /*padding: 25px;
  margin-top: 25px;*/
}

.row4 {
  background: linen;
  padding: 25px;
  margin-top: 25px;
}
