.jumbotron {

    background-image: url(./image/skyline.jpg);
    background-color: linen;
    font-style: italic;

}

body {
  background: #340101;

}

.row {
  background: linen;
  margin-bottom: 25px;
  padding: 25px;
  margin-top: 25px;
}

.row1 {
  background: linen;
  padding: 25px;
  margin-bottom: 25px;
}

.row2 {
  background: linen;
  /*padding: 25px;
  margin-top: 25px;*/
}

.row3 {
  background: linen;
  padding: 25px;
  margin-top: 25px;
}
